nav{
    background-color: #3a3a42;
    color: #fff;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navBar{
    
    width: 100%;
    padding: 20px 0;
}

.navBar .max-width{
    display: flex;
    align-items: center ;
    justify-content: center;
}